.clear {
    clear: both;
}

#main-container {
    width: 75%;
    margin: auto;
    min-width: 500px;
}

#main-container > header {
    text-align: center;
}

#main-container h2 {
    font-size: medium;
    margin-top: -20px;
}
    
li {
    cursor: pointer;
}

img {
    float: left;
    padding-right: 10px;
}

